body {
  background: #f5f5f5;
  font-family: Meiryo;
  height: 95%;
  width:95%;
  text-align:left;
  /* line-height: 1.7; */
}

#header{
  text-align:center;
}  
#question{
  list-style-type:none;
  margin-bottom:10px
}  
#question li {
  margin:20px;
}
label{
  display: block;
}
select{
  display: block;
}
.q input{
  display: block;
}
