body {
  background: #f5f5f5;
  font-family: Meiryo;
  height: 90%;
  padding: 5px;
  text-align:left;
  line-height: 1.4;
}

#question{
  list-style-type:none;
}  
label{
  display: block;
}
select{
  display: block;
}
.q input{
  display: block;
  width: 70%
}
