body {
  background: #f5f5f5;
  font-family: Meiryo;
  height: 95%;
  width:95%;
  text-align:left;
  /* line-height: 1.7; */
}

#header{
  text-align:center;
}  
#question{
  list-style-type:none;
  margin-bottom:20px
}  
#question li {
  margin:20px;
}
label{
  display: block;
}
select{
  display: block;
}
.q input{
  display: block;
}

/* 画面サイズが480以下（スマホ）のときに適応されるCSS */
/* 変更点だけを書けばおk　！！ */
@media screen and (max-width:480px) {
    #header{
  text-align:left;
}  
   #question li {
  margin:5px;
}
}
